<launch>
  <arg name="config_file" default="$(find custom_autorace_bringup)/config/MID360_config.json"/>
  <arg name="min_height" default="-0.30"/>
  <arg name="max_height" default="0.10"/>

  <param name="xfer_format" value="0"/>
  <param name="multi_topic" value="0"/>
  <param name="data_src" value="0"/>
  <param name="publish_freq" type="double" value="10.0"/>
  <param name="output_data_type" value="0"/>
  <param name="user_config_path" type="string" value="$(arg config_file)"/>
  <param name="frame_id" type="string" value="base_scan"/>
  <param name="enable_lidar_bag" type="bool" value="false"/>
  <param name="enable_imu_bag" type="bool" value="false"/>

  <node pkg="livox_ros_driver2" type="livox_ros_driver2_node"
        name="livox_mid360" required="true" output="screen"
        args="100000000000000"/>

  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node"
        name="mid360_to_laserscan" output="screen">
    <remap from="cloud_in" to="/livox/lidar"/>
    <remap from="scan" to="/scan_mid360_raw"/>
    <param name="target_frame" value="base_scan"/>
    <param name="transform_tolerance" value="0.05"/>
    <param name="min_height" value="$(arg min_height)"/>
    <param name="max_height" value="$(arg max_height)"/>
    <param name="angle_min" value="-3.14159265"/>
    <param name="angle_max" value="3.14159265"/>
    <param name="angle_increment" value="0.0174532925"/>
    <param name="scan_time" value="0.10"/>
    <param name="range_min" value="0.10"/>
    <param name="range_max" value="40.0"/>
    <param name="use_inf" value="true"/>
    <param name="inf_epsilon" value="1.0"/>
  </node>

</launch>
