<launch>
  <arg name="serial_no" default=""/>
  <arg name="enable_depth" default="false"/>
  <arg name="color_width" default="1280"/>
  <arg name="color_height" default="720"/>
  <arg name="color_fps" default="30"/>
  <arg name="adapter_output_width" default="320"/>
  <arg name="adapter_output_height" default="240"/>
  <arg name="adapter_output_frame" default="camera_optical_frame"/>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera" value="camera"/>
    <arg name="serial_no" value="$(arg serial_no)"/>
    <arg name="device_type" value="d405"/>
    <arg name="enable_color" value="true"/>
    <arg name="color_width" value="$(arg color_width)"/>
    <arg name="color_height" value="$(arg color_height)"/>
    <arg name="color_fps" value="$(arg color_fps)"/>
    <arg name="enable_depth" value="$(arg enable_depth)"/>
    <arg name="enable_infra1" value="false"/>
    <arg name="enable_infra2" value="false"/>
    <arg name="publish_tf" value="false"/>
    <arg name="initial_reset" value="true"/>
  </include>

  <node pkg="custom_autorace_bringup" type="autorace_image_adapter.py"
        name="autorace_image_adapter" output="screen">
    <param name="input_image" value="/camera/color/image_raw"/>
    <param name="input_camera_info" value="/camera/color/camera_info"/>
    <param name="output_width" value="$(arg adapter_output_width)"/>
    <param name="output_height" value="$(arg adapter_output_height)"/>
    <param name="output_frame" value="$(arg adapter_output_frame)"/>
    <param name="raw_output_topic" value="/camera/image_rect_color"/>
    <param name="output_topic" value="/camera/image_rect_color/compressed"/>
  </node>
</launch>
